@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Poppins",sans-serif;
}

input:focus,select:focus {
  outline: none;
}

:root {
  --primary:#9500FF;
  --orange:#D09315;
  --green:#56D645;
  --green-500:#3AA39E;
  --red:#D1253D;
  --blue:#23458F;
  --light:#fff;
  --dark:#48434c;
  --gray:#A2A4A3;
  --background:#EAEAEA;
  --radius:8px;
}

.container {
  max-width: 118rem;
  margin: 0 auto;
  padding:0 1.5rem
}


body {
  background: var(--background);
  font-family: "Poppins",sans-serif;
}

.animeTransition {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeTransition .3s forwards;
}

.ideaBox {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 5rem;
  background: var(--green);
  border-radius: var(--radius);
}

.ideaBox.music {
  background: var(--green-500);
}

.ideaBox.video {
  background: var(--red);
}

.ideaBox.social-media {
  background: var(--primary);
}

.ideaBox.pictures {
  background: var(--orange);
}

.ideaBox.work {
  background: var(--blue);
}

.modal-active {
  display: flex;
}

@keyframes animeTransition {
  to {
      opacity: 1;
      transform: initial;
  }
}

@media screen and (max-width:767px) {
  .ideaBox {
    transform: scale(.8);
  }
}
